<!doctype html>
<!-- Lovingly crafted by MH Swende 2018 -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidity fuzzer</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.0/mini-default.min.css">
<script type="text/javascript">
/**  
  Will return a link to the right place in the repo
  link : https://github.com/ethereum/go-ethereum/tree/021c3c281629baf2eae967dc2f0a7532ddfdc1fb
  text : ethereum/go-ethereum@021c3c2 [⎇ release/1.6]
**/
function html_encode (str){
  //Let the DOM do it for us. 
  var d = document.createElement('textarea');
  d.innerText = str;
  //Yes, I'm aware of 
  // http://stackoverflow.com/questions/1219860/html-encoding-in-javascript-jquery
  // I just don't agree. 
  return d.innerHTML;
}
      
function githubRepoLink(repo, commit, branch){

  repo = "https://github.com/ethereum/solidity.git"
  commit = "410d288"
  branch = "* develop"

  if (repo == "" ) {return "";}    
  if (commit == "" ) {return repo;}
  if (branch == "" ) {return repo+"@"+data.commit.slice(0,7);}
  if (branch.startsWith("* ")){ branch = branch.slice(2)}
  
  var text = repo+"@"+commit.slice(0,7)+" [⎇ "+branch+"]";
  // 
  if (!repo.startsWith("https://github.com")){return html_encode(text);}
  if (repo.endsWith(".git")){repo = repo.slice(0,-4)}
  
  var a = document.createElement('a');
  a.setAttribute("target", "_blank");
  a.setAttribute("href",repo);
  a.text = a.pathname.slice(1)+"@"+commit.slice(0,7)+" [\u2387 "+branch+"]";
  a.setAttribute("href", repo+"/tree/"+commit);
  return a.outerHTML;
}

</script>

</head>

<body>
    <div class="container">
        <h1>Solidity fuzzer</h1>
        <div class="row">
            <div class="col-sm">                
                <h3>Config</h3>
                <ul>
                <li>sourcedir <code>{{ config.sourcedir}}</code></li>
                <li>fuzzbins <code>{{ config.fuzzbins}}</code></li>
                <li>wwwroot <code>{{ config.wwwroot}}</code></li>
                <li>host <code>{{ config.host}}</code></li>
                <li>port <code>{{ config.port}}</code></li>
                <li>tasks</li>
                  <ul>
            {% for task in config.tasks  %}
                      <li>{{ task.desc }} - {{ task.name}} input:<code>{{ task.in }}</code> args <code>{{ task.args }} </code></li>
            {% endfor %}
                  </ul>
                </ul>
            </div>  
            <div class="col-sm">
                <h3>Status</h3>
                Current task: <code>{{ status.status }}</code>
                <ul>
                    <li>Repository:
                      <script type="text/javascript">
                      document.write(
                        githubRepoLink("{{ status.repo }}","{{ status.tree }}","{{ status.branch }}"));
                    </script></li>
                    <li> Binary <code>{{ status.bin }} </code> </li>
                </ul>
                Errored: <code>{{ status.errored }}</code>
            </div>
        </div>
        <div class="row">              
            <div class="col-sm">
              <h3>Fuzzers</h3>
                {% for fuzzer in status.fuzzers  %}
                <p>{{ fuzzer.output}} - {{ fuzzer.desc}}</p>
                <pre>{{ fuzzer.status}}</pre>
                {% endfor %}
            </div>  
            <div class="col-sm">
              <h3>Artefacts</h3>
              <ul>
                {% for file in files  %}
                <li><a href="download/{{ file }}">{{ file }}</a></li>
                {% endfor %}
              </ul>
            </div>  
        </div>
    </div>

</body>
</html>